#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

input,
select {
  outline: none;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.loader-container .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #5a67d8;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
